
.owl-carousel{
    
    .owl-nav{
        display: none !important;
        opacity: 0 !important;
        @media (max-width:700px) {
            display: none !important;
        }
        @media (min-width:820px) {
            position: absolute;
            top: 40%;
            right: 0;
            transform: translateY(-40%);
            display: flex;
            width: 100%;
        }
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 0 !important;
            color: $color1;
            transition: .3s ease all;
            border-radius: 50% !important;
            width: 40px;
            height: 40px;
            &:hover{
                background: transparent !important;
                border-color: transparent !important;
            }
            span{
                font-size: 100px;
                color: $color1;
            }
           
            i{
                color: $color1;
                display: flex;
                font-size: 40px;
                // margin: 0 !important;
                padding: 0;
                justify-content: center;
                align-items: center;
                margin-top: 3px;
            }
            
        }
        button.owl-prev{
            padding:10px 20px !important;
            margin-right: auto;

            
        }
        button.owl-next{
            padding:10px  20px !important;
            
        }
    
    }
   
}







.owl-item.active{
    

    .contain{
       
    //     animation-iteration-count: 1;
    //    animation-fill-mode:forwards;
    //    animation-delay: 0.2s;
    //    animation-duration: 1s;
    //    animation-name: slideInLeft;
        
        .txt{
            animation-iteration-count: 1;
            animation-fill-mode: both;
            animation-delay: 1.2s;
            animation-duration: 2s;
            animation-name: fadeIn;
            
            .hd{

                animation-iteration-count: 1;
              animation-fill-mode: both;
              animation-delay: 2s;
              animation-duration: 1s;
              animation-name: slideInLeft;
            }
            .pr{
                 animation-iteration-count: 1;
                animation-fill-mode: both;
                animation-delay: 3s;
                animation-duration: 1s;
                animation-name: bounceInRight;
            }
            
        }

    }
    .dett{
        animation-iteration-count: 1;
        animation-fill-mode: both;
        animation-delay: 0.1s;
        animation-duration: 1s;
        animation-name: backInDown;
        .deal{
             animation-iteration-count: 1;
            animation-fill-mode: both;
            animation-delay: 1.2s;
            animation-duration: 1s;
            animation-name: backInDown;
        }
        .inf{
             animation-iteration-count: 1;
            animation-fill-mode: both;
            animation-delay: 1.2s;
            animation-duration: 1s;
            animation-name: backInDown;
            }
        .inf2{
             animation-iteration-count: 1;
            animation-fill-mode: both;
            animation-delay: 1.2s;
            animation-duration: 1s;
            animation-name: bounceInLeft;
        }

        
    }
    .imgs{
        .cont{
            img{
                 animation-iteration-count: 1;
        animation-fill-mode: both;
        animation-delay: 0.5s;
        animation-duration: 1s;
        animation-name: bounceInRight;
            }
        }
    }
}



.owl-dots{
    button{
        span{
            transition: all ease-in-out .4s !important;
            height:7px !important;
            background:rgba(255,255,255,0.3) !important;
        }
    }
    button.active{
       span{
           background:rgba(255,255,255,1) !important;
           width: 30px !important;
       }
    }
}


#home,#testimonies{
    position: relative;
    .owl-dots{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 30px;
        margin-top: 10px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center;
        button{
            span{
                transition: all linear .4s !important;
                height:7px !important;
                width: 7px !important;
                border-radius: 50%;
                background:rgba($color1,1) !important;
            }
        }
        button.active{
           span{
               background:rgba($color1,1) !important;
               width: 15px !important;
               height: 15px !important;
               display: block;
               border-radius: 50%;
               border: solid 3px $color3;
           }
        }
    }
}