
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import "variables";
@import "owl-carousel";


body::-webkit-scrollbar {
//   width: 0px;
display: none;
}
 

 html{
    scroll-behavior: smooth;
 }


  body{
    font-family: 'Poppins', sans-serif !important;
    max-width: 100%!important;
    overflow-x: hidden !important;
    background: rgb(255, 255, 255);
    scroll-behavior: smooth;
  }
  *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
  }
  a{
    text-decoration: none;
  }
  img{
    width: 100%;
  }


 


  header{
    background: transparent;
    transition: all ease-in-out 1s;
    border-bottom:solid 1px rgba(42, 42, 42, 0.1) ;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    // height: 110px;
    display: flex;
    width: 100vw;
    z-index: 2;
    &.opaque{
        background: white;
    }
    .contains{
        .navbar{
            height: 100%;
            padding: 10px 20px;   
            display: flex;
            flex-direction: row;
            justify-content: space-between  ;
            align-items: center;
            width: 100vw;
            .log-brand{
                img{
                    width: 40px;
                }
                
            }
            .nav_links{
                background: white;
                position: absolute;
                top:70px;
                right: 0;
                left: 0;
                transform:translateX(-400%);
                opacity: 0;
               display: flex;
               flex-direction: column;
               align-items: flex-start;
               padding-left: 30px;
               justify-content: center;
               transition: all ease .4s;

               &.open{
                    transform:translateX(0);
                    opacity: 1;
               }

                .nav_con{
                    padding-top: 60px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                height: 100vh;
                background: white;
                    .nav_link{
                        margin-bottom: 30px;
                        font-size: 20px;
                        font-weight: 500;
                        color: $color2;
                        font-family: 'Poppins', sans-serif !important;
                        transition: all ease-in-out .3s;
                        &:hover{
                            transform: translateX(5px);
                        }
                        &.active{
                            color: $color1;
                        }
                    }
                    .nav_link_btn{
                        font-size: 20px;
                        border: 3px solid $color1;
                        border-radius: 5px;
                        padding: 15px 25px;
                        margin-top: 40px;
                        font-weight: 500;
                        color: $color2;
                    }
                }
            }
            .menu_btn{
                font-size: 50px;
                transition: all ease-in .3s;
            }
        }

    }
  }

  main{

    max-width: 100vw !important;
    position: relative;
    overflow-x: hidden;
    // padding-top: 180px;
    
    #home{
        position: relative;


        .contains{
            // 
            .main_home{
                overflow-x: hidden;
                position: relative;
                max-width: 100vw;
                
                .item{      
                    min-height: 100vh;
                    .it1{
                         background: linear-gradient(180deg, rgb(255, 255, 255),rgba(255, 255, 255,0.6),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0)), url(../images/bgn.jpg) ;

                    }
                    .it2{
                         background: linear-gradient(180deg, rgb(255, 255, 255),rgba(255, 255, 255,0.6),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0)), url(../images/bgn1.jpg) ;

                    }
                    .it3{
                         background: linear-gradient(180deg, rgb(255, 255, 255),rgba(255, 255, 255,0.6),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0)), url(../images/bgn2.jpg) ;

                    }
                    .it4{
                         background: linear-gradient(180deg, rgb(255, 255, 255),rgba(255, 255, 255,0.6),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,0.4)), url(../images/bgn3.jpg) ;

                    }
                    .it5{
                         background: linear-gradient(180deg, rgb(255, 255, 255),rgba(255, 255, 255,0.6),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0)), url(../images/bgn4.jpg) ;

                    }
                         
                    
                    .contain{
                        position: relative;
                        height: 100vh;
                        width: 100%;
                      
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                      
                        
                        .txt{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left:0;
                            background: rgba(rgb(21, 21, 21),0);
                            .hd{
                                color: white;
                                font-weight: 800;
                                font-size: 80px;
                                font-family: 'Poppins', sans-serif !important;
                                // text-shadow: #777777;
                                text-shadow: 1px 0px 4px rgba(0,0,0,0.2);
                            }
                            .pr{
                                text-shadow: 1px 0px 4px rgba(0,0,0,0.4);
                                line-height: 20px;
                                font-family: 'Poppins', sans-serif !important;
                                font-weight: 500;
                                color: white;
                                text-align: center;
                            }
                        }
                    }
                }
    
            }
        }
    }
    #features{
        

        margin-top: 50px;
        // padding: 100px 0px;
        .contains{
            .row{
                
                max-width: 100vw !important;
                .row-item1 {
                    .wrap{
                        

                        .title{
                            color: rgba($color2,0.8);
                            font-weight: 700;
                            font-family: $font;
                            font-size: 45px;
                            line-height: 45px;
                        }

                    }
                    
                }
                
                .row-item2 {
                    
                    .row{
                        max-width: 100vw !important;
                        .row-item {
                            padding:20px 0 !important;
                            .wrap{
                                width: 100%;
                                .txt-cont{
                                    display: flex;
                                    flex-direction: column;
                                    .h1{
                                        font-size: 16px;
                                        color: rgba($color2,0.9);
                                        font-family: $font;
                                        font-weight: 500;
                                        margin-bottom: 20px;
                                    }
                                    .h2{
                                        font-size: 14px;
                                        color: rgba($color2,0.4);
                                        font-family: $font;
                                        font-weight: 400;
                                        margin-bottom: 20px;
                                    }
                                }
                                .icon-box{
                                    flex-wrap: wrap;
                                    // background-color: gray;
                                    display: flex;
                                    justify-content: space-evenly;
                                    align-items: center;
                                    .icon-s{
                                        margin-bottom: 30px;
                                        flex:1 1 150px ;
                                        margin-right: 15px;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        img{
                                            width: 70px;
                                            margin-bottom: 10px;
                                        }
                                        p{
                                            font-weight: 600;
                                            font-family: $font;
                                            color: $color2;
                                            text-align: center;
                                        }
                                    }
                                }

                            }
                        }

                    }

                }
            }
        }
    }
    #descript{
        padding-left: 10px;
        padding-top: 30px;
        
        position: relative;
        
        .contains{
            .hdd{
                h1{
                    font-weight: 800;
                    font-family: $font;
                    font-size: 60px;
                    line-height: 70px;
                }
                .h1{
                    color: rgba($color2,0.5);

                }
                .h2{
                    color: $color3;

                }
                .h3{
                    color: $color1;
                }


            }

        }
        .row{
            max-width: 100vw !important;
            
            .left-itm{
                justify-content: center;
                align-items: center;
                display: flex;
                padding: 70px 0px 70px 30px;
                
                .wrap{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-top: 40px;

                    .hd{
                        font-family: $font;
                        font-weight: 700;
                        font-size: 35px;
                        color:rgba( $color2,0.8);
                    }
                    .hdr{
                        font-family: $font;
                        color: rgba($color2,0.9);
                        font-weight: 500;
                        font-size: 15px;
                        margin-bottom: 40px;
                    }
                    .stry{
                       font-family: $font;
                        color: rgba($color2,0.5);
                        font-weight: 500;
                        font-size: 15px;
                        
                    }
                    .edsbt{
                        padding: 15px 25px;
                        border: solid 3px $color1;
                        border-radius: 6px;
                        margin-top: 40px;
                        font-weight: 600;
                        font-family: $font;
                        color:rgba($color2,0.7);
                        // margin-bottom: 40px;
                        font-size: 14px;
                        width: fit-content;
                        transition: all ease .3s;
                        &:hover{
                            background:$color1;
                        }
                    }

                }
            }
            .right-itm{
                // max-width: 100vw !important;
                padding: 0 !important;
                background: url("../images/4 (2).jpg");
                background-position: center;
                background-size: cover;
                min-height: 70vh;
                background-repeat: no-repeat;
                .wrap{
                    img{
                        width: 100%;
                    }
                }

            }
        }
    }
    #timeline{
        min-height: 100vh;
        min-width: 100vw;
        background: #e9f1ee;
        padding-top: 50px;
        // display: none !important;

        .contains{
            .tht{
                .hdd{
                    font-size: 50px;
                    font-weight: 700;
                    font-family: $font;

                }
            }
            .sect1{
                background-image: url(../images/bglog.png);
                background-size: contain;
                background-position: right;
                background-repeat: no-repeat;

                .wrap{
                    margin-top: 30px;
                    border-left: 1px solid #c8cfb8;
                    display: flex;
                    flex-direction: column;
                    .item{
                        margin-bottom: 40px;
                        position:relative;
                        padding-left: 55px;
                        position: relative;
                        .hd{
                            position: absolute;
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            background: white;
                            left: -8px;
                            top: 65px;
                            z-index: 3;
                            &::after{
                                position: absolute;
                                width: 7px;
                                height: 7px;
                                border-radius: 50%;
                                background: #c8cfb8;
                                content: '';
                                display: block;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                z-index: 1;
                            }
                            &::before{
                                 position: absolute;
                                width: 32.5px;
                                height: 1px;
                                background: #c8cfb8;
                                content: '';
                                display: block;
                                top: 50%;
                                left: 15px;
                                transform: translateY(-50%);
                                z-index: 1;
                                
                            }
                        }

                        .info{
                            .dt{
                                font-size: 6rem;
                                font-weight: 900;
                                font-family: $font;
                                color: $color3;
                                line-height: 130px;
                            }
                            .attc{
                                color: $color3;
                                font-family: $font;
                                font-size: 1.6rem;
                                font-weight: 700;
                                line-height: 30px;
                            }
                            .stry{
                                margin-top: 20px;
                                color: #777777;
                                font-family: $font;
                                font-size: 18px;
                                font-weight: 500;
                                
                            }
                        }
                    }
                }
            }
            .sect2{
                .row{
                    .itm{
                        .wrap{
                            flex-direction: column;
                            padding: 10px 0px;
                            justify-content: center;
                            display: flex;
                            height: 100%;
                            .hd{
                                font-weight: 700;
                                font-size: 30px;
                                color: $color2;
                                font-family: $font;
                                margin-bottom: 20px;
                            }
                            .stry{
                                font-weight: 500;
                                font-size: 16px;
                                color:rgba($color2,0.5);
                                font-family: $font;
                                margin-bottom: 30px;

                            }
                            .lnk{
                                color: $color3;
                                text-decoration: underline;
                                margin-bottom: 20px;

                            }

                        }
                    }
                    .item{
                        padding: 0 !important;
                        margin: 0 !important;
                        .wrap{
                            display: flex;
                            position: relative;
                            .attch{
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                padding: 0px 0px 20px 20px;
                                h4{
                                    color: white;
                                    font-weight: 800;
                                    font-family: $font;
                                    font-size: 20px;
                                }
                                p{
                                    color: white;
                                    font-weight: 500;
                                    font-family: $font;
                                    font-size: 10px;

                                }
                            }

                        }
                    }
                }
            }
        }
    }
    #blog{
        padding: 50px 0px;
        .contains{
            display: flex;
            flex-direction: column;
            .hdd{
                margin-bottom: 30px;
                display: flex;
                h1{
                    font-family: $font;
                    font-size: 30px;
                    font-weight: 700;
                    color: $color2;
                }
            }
            .row{
                row-gap: 35px;
                margin-bottom: 30px;
                .item{
                    // background: rebeccapurple;
                    .row{
                        row-gap: 20px;
                        .item1{

                            .wrap{
                                display: flex;
                                flex-direction: column;
                                width: 100%;
                                height: 100%;
                                .date{
                                    display: flex;
                                    align-items: center;
                                    // justify-content: center;
                                    h1{
                                        font-size: 80px;
                                        color: $color3;
                                        font-family: $font;
                                        font-weight: 700;
                                        line-height: 80px;
                                        margin-right: 5px;
                                    }
                                    span{
                                        p{
                                            font-size: 20px;
                                            color: $color3;
                                            font-weight: 700;
                                            font-family: $font;
                                            margin: 0;
                                            line-height: 20px;
                                        }
                                    }
        
                                }
                                .cls{
                                    font-size: 20px;
                                    color: $color3;
                                    font-weight: 500;
                                    font-family: $font;
                                    margin: 0;
                                    line-height: 20px;
        
                                }
                                .inf{
                                    display: flex;
                                    align-items: center;
                                    margin: 5px 0px;
                                    span{
                                        margin: 0px 10px;
                                        display: block;
                                        width: 2px;
                                        height: 60%;
                                        background:rgba($color2,0.3);
                                    }
                                    p{
                                        font-size: 12px;
                                            color:rgba($color2,0.3);
                                            font-weight: 500;
                                            font-family: $font;
                                            margin: 0;
                                            line-height: 20px;
                                    }
                                }
                                .stry{
                                    font-size: 15px;
                                            color:rgba($color2,0.5);
                                            font-weight: 500;
                                            font-family: $font;
                                            margin: 0;
                                            line-height: 20px;
        
                                }
                            }
                        }
                        .item2{
                            .wrap{
                                display: flex;
                                width: 100%;
                                height: 100%;
                                
                            }
                        }

                    }
                }

            }
            .alp{
                color: $color2;
                border: 2px solid $color1;
                padding: 15px 25px;
                display: inline-block;
                margin: 20px auto;
                border-radius: 7px;
            }
        }
    }
    #testimonies{
        background: url("../images/bgb.jpg");
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size:cover ;
        padding: 100px 0px;
        .contains{
            .hd{
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                margin-bottom: 40px;
                h1{
                     font-family: $font;
                        font-weight: 700;
                        font-size: 35px;
                        color:white;

                }
            }
            .cont{
                .testi{
                    .item{
                        .wrap{
                            display: flex;
                            flex-direction: column;
                            .lft{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                margin-bottom: 30px;
                                img{
                                    width: 120px;
                                    border-radius: 50%;
                                }
                                span{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    .p1{
                                         font-family: $font;
                                font-weight: 600;
                                font-size: 20px;
                                color:white;
                                        
                                    }
                                    .p2{
                                         font-family: $font;
                                font-weight: 500;
                                font-size: 15px;
                                color:white;
                                        
                                    }
                                }
                            }
                            .rgt{
                                display: flex;
                                .stry{
                                       font-family: $font;
                                    color: white;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
    #badges{
        padding: 50px 0px;
        .contains{
            .row{
                row-gap: 30px;
                .item{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 100px;
                    }
                }
            }
        }
    }
    #form{
        .contains{
            .row{
                padding: 0 !important;
                .lft{
                    display: flex;
                    padding: 50px 0px;
                    background: $color3;
                    .wrap{
                          padding: 0px 40px;
                        display: flex;
                        flex-direction: column;
                        // justify-content: center;
                        .hd{
                            flex-direction: column;
                            display: flex;
                            width: 100%;
                            justify-content: center;
                            // align-items: center;
                            margin-bottom: 40px;
                            h1{
                                font-family: $font;
                                    font-weight: 700;
                                    font-size: 35px;
                                    color:white;
                                    margin-bottom: 20px;

                            }
                            p{
                                color: white;
                                margin-bottom: 3    0px;
                                font-family: $font;
                            }
                        }
                        .inf{
                            .itms{
                                margin-bottom: 40px;
                                display: flex;
                                // justify-content: center;
                                align-items: center;

                                .bx{
                                    font-size: 10px;
                                    color: white;
                                    margin-right: 15px;
                                }
                                p{
                                    color: white;
                                }
                                a{
                                    
                                    color: white;
                                }
                            }
                        }
                        .socs{
                            display: flex;
                            margin-top: 40px;
                            .bx{
                                font-size: 30px;
                                margin-right: 20px;
                                color: white;
                            }
                        }
                    }
                }
                .rgt{
                    display: flex;
                    padding: 40px 0px;
                    background: #282828;
                    .wrap{
                        width: 100%;

                         display: flex;
                        flex-direction: column;
                        justify-content: center;

                        padding: 0px 40px;

                        .hd{
                                flex-direction: column;
                                display: flex;
                                width: 100%;
                                justify-content: center;
                                // align-items: center;
                                margin-bottom: 40px;
                                h1{
                                    font-family: $font;
                                        font-weight: 700;
                                        font-size: 35px;
                                        color:white;
                                        margin-bottom: 40px;
    
                                }
                                p{
                                    color: white;
                                     font-family: $font;

                                }
                            }
                            form{
                                .case{
                                    width: 100%;
                                    border-bottom: solid 1px rgba(white,0.8);
                                    margin-bottom: 40px;
                                    display: flex;
                                    justify-content: space-between;
                                    input{
                                        background: transparent;
                                        border: none;
                                        width: 80%;
                                        box-shadow: none;
                                        padding: 10px 10px;
                                        &:focus{
                                            background: transparent;
                                            outline: none;
                                            color: white;
    
                                        }
                                        
                                    }
                                    textarea{
                                        background: transparent;
                                        border: none;
                                        width: 80%;
                                        box-shadow: none;
                                        padding: 10px 10px;
                                        &:focus{
                                            background: transparent;
                                            outline: none;
                                            color: white;
    
                                        }
                                        
                                    }
                                    .bx{
                                        color: white;
                                        font-size: 23px;
                                    }
                                }
                                .subbtn{
                                    width: 100%;
                                    border: 3px solid white;
                                    background: transparent;
                                    padding: 10px 0px;
                                    font-size: 15px;
                                    font-weight: 500;
                                    font-family: $font;
                                    color: white;
                                }
                            }
                    }
                }
            }
        }
    }
  }

  #foot_er{
    padding: 50px 0px;
    position: relative;
    .wrap{
        .row{
            row-gap: 60px;
            .item1{
                .logo{
                    img{
                        width: 250px;
                    }
                }
                .cpr{
                    p{
                        margin-top: 20px;
                        font-size: 14px;
                        font-weight: 400;
                        color: rgba($color2,0.6);
                    }
                }
            }
            .item2{
                .hdd{
                    margin-bottom: 15px;
                    h2{
                        font-size: 20px;
                        font-weight: 600;
                        font-family: $font;
                    }
                }
                .main{
                    display: flex;
                }
                .lft{
                    margin-right: 100px;
                }
                .lft,.rgt{
                    display: flex;
                    flex-direction: column;
                    .lnk{
                        color: $color2;
                        font-weight: 500;
                        font-family: $font;
                        font-size: 14px;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                    }
                }
            }
            .item3{
                 .hdd{
                    margin-bottom: 15px;
                    h2{
                        font-size: 20px;
                        font-weight: 600;
                        font-family: $font;
                    }
                }
                .bd{
                    p{
                         color: $color2;
                        font-weight: 500;
                        font-family: $font;
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                    form{
                        margin-top: 20px;
                        .cs{
                            padding: 0 !important;
                             width: 100%;
                                    border-bottom: solid 1px rgba($color2,0.8);
                                    margin-bottom: 40px;
                                    display: flex;
                                    justify-content: space-between;
                             input{
                                background: transparent;
                                border: none;
                                width: 80%;
                                box-shadow: none;
                                padding: 10px 10px;
                                color: $color2;
                                &:focus{
                                    background: transparent;
                                    outline: none;

                                }
                                
                            }
                            .btns{
                                    border: none;
                                    background: $color1;
                                    padding: 10px 20px;
                                    font-size: 15px;
                                    font-weight: 500;
                                    font-family: $font;
                                    color: $color2;
                                   
                            }
                        }
                    }
                }
            }

        }
    }
  }
  
   @media  screen and (min-width:740px) {
        header{
            padding: 0px 30px;
            .contains{
                .navbar{
                    background: transparent;
                    .menu_btn{
                        display: none;
                        opacity: 0;
                    }
                    .nav_links{
                        position: relative ;
                        top: unset;
                        opacity: 1;
                        transform: unset;
                        flex-direction: row;
                        background: transparent;
                        width: 100%;
                        .nav_con{
                            flex-direction: row;
                            width: 90%;
                            height: unset;
                            display: flex;
                            padding-top: unset;
                            align-items: center;
                            justify-content: space-between;
                            padding-right: 30px;
                            background: transparent;
                            .nav_link{
                                margin-top: unset;
                                margin-right: 30px;
                                justify-self: center;
                                align-self: center;
                                margin-bottom: unset;
                                font-size: 13px;
                                font-weight: 600;
                                text-transform: uppercase;
                                background: transparent;
                                
                            }
                            .nav_link_btn{
                                margin-top: unset;
                                padding: 5px 20px;
                                margin-left: auto;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
        main{

            #timeline{
                .contains{
                    .sect1{
    
                        .wrap{
                            border-left: none ;
                              border-top: 1px solid #c8cfb8;
                              flex-direction: row;
                              justify-content: center;
                              align-items: center;
                              margin-bottom: 40px;
                              .item{
                                margin-bottom: unset;
                                padding: 50px 10px 10px 10px;
                                display: flex;

                                  .hd{
                                      top:-8px ;
                                      left:0px;

                                      &::before{
                                         height: 60px;
                                        width: 1px; 
                                        top:15px;
                                        left:7px;
                                        transform:unset;

                                         
                                      }
    
                                  }
                              }
                        }
                    }
                }
    
            }
            #home{
                .contains{
                    .main_home{
                        .item{
                            .contain{

                                .txt{
                                    .hd{
                                        font-size: 250px;
                                        line-height: 250px;
                                        max-width: 70%;
                                    }
                                    .pr{
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

  }
